<%- include('../partials/_navbar.ejs') %>

<h1>Medication List</h1>

<form method="GET" action="/medications">
  <input type="text" name="search" value="<%= search %>" placeholder="Search...">
  <button type="submit">Search</button>
</form>
<h1>Medication List</h1>

<% if (user.position === "Head of Pharmacy") { %>
  <a href="/medications/new">Add New Medication</a> |
  <a href="/medications/import">Import Medication Catalog</a>
<% } %>

<% if (user.position !== "Head of Pharmacy") { %>
  <a href="/transactions/import">Import Transactions</a>
<% } %>
<ul>
  <% medications.forEach(item => { %>
    <li>
      <a href="/medications/<%= item._id %>">
        <%= item.codeNumber %> - <%= item.itemName %>
      </a>

      <% if (user.position === "Head of Pharmacy") { %>
        <a href="/medications/<%= item._id %>/edit">Edit</a> 
        <form method="POST" action="/medications/<%= item._id %>?_method=DELETE" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
      <% } %>
    </li>
  <% }) %>
</ul>